*.ncrunchsolution
*.ncrunchproject
*.Pdb
*.pdb
*.xap
*.Xap
*.bak
*.nu
_ReSharper.*
_UpgradeReport.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.user
[Oo]bj
[Bb]in
build
Release
[Pp]ackages/
