*.ncrunchsolution
*.ncr
*.xap
*.Xap
*.bak
*.nu
_ReSharper.*
_UpgradeReport.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.user
binaries
[Oo]bj
[Bb]in
build
Release
Packages
binaries