<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>ServiceInsight</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>msbuild src\ServiceInsight.sln /t:Clean;Rebuild /p:Configuration=Release</BuildCommand>
  <FastBuildCommand>msbuild src\ServiceInsight.sln /t:Build /p:Configuration=Debug</FastBuildCommand>
  <DefaultFloatConstraint>CurrentMajor,NextMajor</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" StabilityConvention="None" />
    <Feed Url="http://builds.particular.net/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" StabilityConvention="None" />
  </Feeds>
  <Nugets>
    <Dependency Name="Particular.Licensing.Sources" Version="0.1.0.51" Mode="Float" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>