<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Operations.Licensing</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>msbuild src\Operations.Licensing.sln /t:Clean;Rebuild /p:Configuration=Release</BuildCommand>
  <FastBuildCommand>msbuild src\Operations.Licensing.sln /t:Build /p:Configuration=Debug</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://builds.particular.net/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" StabilityConvention="None" />
    <Feed Url="http://nuget.org/api/v2" Mode="Float" Stability="ReleasedOnly" StabilityConvention="None" />
  </Feeds>
  <Nugets>
    <Dependency Name="log4net" Version="2.0.3" Mode="Fixed" />
    <Dependency Name="NUnit" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="Rhino.Licensing" Version="1.3" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>