<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include $(sys.CURRENTDIR)Variables.wxi ?>

  <Bundle
    Name="ServiceInsight Installer"
    Version="$(var.Version)"
    Manufacturer="Particular Software Incorporated"
    UpgradeCode="$(var.UpgradeCode)"
    Compressed="yes">

    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">

      <Payload SourceFile="$(var.ServiceInsightInstaller.Managed.TargetPath)"/>
      <Payload SourceFile="$(var.ServiceInsightInstaller.Managed.TargetDir)BootstrapperCore.config" />
      <Payload SourceFile="$(var.ServiceInsightInstaller.Managed.TargetDir)Microsoft.Deployment.WindowsInstaller.dll" />

      <Payload SourceFile="$(var.ServiceInsightInstaller.Managed.TargetDir)Autofac.dll" />
      <Payload SourceFile="$(var.ServiceInsightInstaller.Managed.TargetDir)Caliburn.Micro.dll" />
      <Payload SourceFile="$(var.ServiceInsightInstaller.Managed.TargetDir)Caliburn.Micro.Platform.dll" />
      <Payload SourceFile="$(var.ServiceInsightInstaller.Managed.TargetDir)System.Windows.Interactivity.dll" />
      <Payload SourceFile="$(var.ServiceInsightInstaller.Managed.TargetDir)MahApps.Metro.dll" />

    </BootstrapperApplicationRef>

    <Chain>
      <!-- Install .Net 4.5 Framework -->
      <PackageGroupRef Id="NetFx45Redist" />

      <MsiPackage Id="ServiceInsight"
                  SourceFile="$(var.ServiceInsight.MSI.TargetPath)"
                  Compressed="yes"
                  EnableFeatureSelection="yes"
                  Vital="yes" />
    </Chain>
  </Bundle>
</Wix>