<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include $(sys.CURRENTDIR)Variables.wxi ?>

  <Product Id="*"
           Name="ServiceInsight"
           Language="1033"
           Version="!(bind.FileVersion.ServiceInsightExe)"
           Manufacturer="Particular Software Incorporated"
           UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="ServiceInsight" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="Particular" Name="Particular Software">
          <Directory Id="INSTALLFOLDER" Name="ServiceInsight" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">
        <File Id="ServiceInsightExe" Source="$(var.ServiceInsight.TargetPath)" />
        <File Id="ServiceInsightPdb" Source="$(var.ServiceInsight.TargetDir)ServiceInsight.pdb" />
        <File Id="ServiceInsightConfig" Source="$(var.ServiceInsight.TargetDir)ServiceInsight.exe.config" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>