<#@ template language="C#" #>
using System.Reflection;
using System.Runtime.CompilerServices;

[assembly: AssemblyTitle("ServiceInsight for NServiceBus")]
[assembly: AssemblyDescription("ServiceInsight for NServiceBus")]
[assembly: AssemblyCopyright("Copyright 2013-<#=DateTime.Now.Year#> NServiceBus Ltd. All rights reserved.")]
[assembly: AssemblyProduct("ServiceInsight for NServiceBus")]
[assembly: AssemblyCompany("Particular Software Incorporated")]
[assembly: InternalsVisibleTo("Particular.ServiceInsight.Tests")]