<?xml version="1.0" encoding="utf-8" ?>
<log4net>
<!--
  Uncomment the commented out section below to enable logging to log files.
  You might need to run the application in elevated mode to make the logging work.
  
  <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
    <file value="Logs\NServiceBus.Profiler.txt"/>

    <appendToFile value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date - [%-5level] - %logger - %message%newline"/>
    </layout>
  </appender>
-->
  <root>
    <level value="ALL"/>
<!--    <appender-ref ref="LogFileAppender" />-->
  </root>
  
</log4net>