name: Release
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-*'
env:
  DOTNET_NOLOGO: true
  RELEASE_WORKFLOW: true
jobs:
  release:
    runs-on: windows-2019 # Code signing requirement https://github.com/NuGet/Home/issues/7939
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.5
        with:
          fetch-depth: 0
      - name: Parse repo name
        run: |
          $FullName = "$env:GITHUB_REPOSITORY"
          $Org,$RepoName = $FullName.Split('/')
          echo "PARTICULAR_REPO_NAME=$RepoName" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        shell: pwsh
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v1.8.2
        with:
          dotnet-version: 5.0.x
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.0.2
      - name: Setup Advanced Installer
        run: |
          $version = 18.4
          choco install advanced-installer --version=$version
          & "C:\Program Files (x86)\Caphyon\Advanced Installer $version\bin\x86\AdvancedInstaller.com" /register ${{ secrets.ADVANCED_INSTALLER_LICENSE_KEY }}
      - name: Prepare AIP file
        run: |
          $content = Get-Content -Raw -Path src/Setup/ServicePulse.aip
          $content = $content -replace "replace-tenant-id", "${{ secrets.AZURE_KEY_VAULT_TENANT_ID }}" -replace "replace-app-id", "${{ secrets.AZURE_KEY_VAULT_CLIENT_ID }}" -replace "replace-cert-name", "${{ secrets.AZURE_KEY_VAULT_CERTIFICATE_NAME }}"
          Set-Content src/Setup/ServicePulse.aip $content
      - name: Build
        env:
          AZURE_KEY_VAULT_CLIENT_SECRET: ${{ secrets.AZURE_KEY_VAULT_CLIENT_SECRET }}
        run: msbuild src -p:Configuration=Release -restore -m
      - name: Publish artifacts
        uses: actions/upload-artifact@v2.2.4
        with:
          name: assets
          path: assets/*
          retention-days: 1
      - name: Install Octopus CLI
        uses: OctopusDeploy/install-octopus-cli-action@v1.1.8
        with:
          version: latest
      - name: Create Octopus Package
        run: |
          # Creating the expected file layout for the Octopus package, including intermediate directories
          mkdir -p packaging/content
          cp assets\* .\packaging\content

          # Octopus Deploy scripts need an executable file to recreate this metadata
          @"
          `$Branch = "${{env.GitVersion_BranchName}}"
          `$Version = "${{env.GitVersion_LegacySemVer}}"
          `$Product = "${{env.PARTICULAR_REPO_NAME}}"
          `$Major = "${{env.GitVersion_Major}}"
          `$Minor = "${{env.GitVersion_Minor}}"
          `$Commit = "${{env.GitVersion_Sha}}"
          "@ > packaging/Metadata.ps1
          
          # Create the Octopus package
          octo pack --id="${{env.PARTICULAR_REPO_NAME}}.Deploy" --version="${{env.GitVersion_SemVer}}" --format="nupkg" --basePath="packaging" --outFolder="octopus-package"
        shell: pwsh
      - name: Publish Octopus Package Artifacts
        uses: actions/upload-artifact@v2.2.4
        with:
          name: octopus-package
          path: octopus-package/*
          retention-days: 1
      - name: Push package to Octopus Deploy
        uses: OctopusDeploy/push-package-action@v1.1.1
        with:
          server: https://deploy.particular.net
          api_key: ${{ secrets.OCTOPUS_DEPLOY_API_KEY }}
          packages: octopus-package/${{env.PARTICULAR_REPO_NAME}}.Deploy.${{env.GitVersion_SemVer}}.nupkg
      - name: Create Octopus Deploy release
        uses: OctopusDeploy/create-release-action@v1.1.1
        with:
          server: https://deploy.particular.net
          api_key: ${{ secrets.OCTOPUS_DEPLOY_API_KEY }}
          project: ${{env.PARTICULAR_REPO_NAME}}
          release_number: ${{env.GitVersion_SemVer}}
          package_version: ${{env.GitVersion_SemVer}}
          package: "GitReleaseManager:0.11.0"
          
